{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Timelog Commander</title>
  <link rel="shortcut icon" type="shortcut/icon" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <nav>
    <ul>
      {% for tab in tabs %}
        <li><a href="{% url tab %}" class="{% if selected_tab == tab %}active{% endif %}">{{ tab }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% block content %}{% endblock content %}
</body>
</html>
