{% extends "app.html" %}
{% load static %}
{% block content %}
<section class="timer">
  <h2 class="title">{% if active_project %}{{ active_project }}{% else %}👽 HOLY COW 🐄{% endif %}</h2>

  {% if running_timer %}
  <div class="timer__time">
    <div class="timer__clock">
      <p>{{ elapsed_time }}</p>
      <p class="seconds"></p>
    </div>
    <form action="" method="POST">
      <input type="submit" name="close" class="close" value="✕" />
    </form>
  </div>
  {% else %}
  <img src="{%  static 'emergency.gif' %}" alt="Animated GIF to illustrate emergency situation">
  {% endif %}

  <div>
    {% if running_timer %}
      <form
        class="timer__form"
        x-data="{
          open: false,
          searchInput: null,
          tasks: []
        }"
        x-init="searchInput = activeTask.key + ': ' + activeTask.summary"
        @start-tracking.window="
          searchInput = activeTask.key + ': ' + activeTask.summary;
          activeComment = null;"
      >
        <div class="search">
          <ul x-show="open">
            <template x-for="task in tasks" :key="task.id">
              <li>
                <button
                  type="button"
                  @click="activeTask = task; searchInput = task.key + ': ' + task.summary;"
                  x-text="task.key + ': ' + task.summary;"
                ></button>
              </li>
            </template>
          </ul>
          <input type="hidden" :value="activeTask.key">
          <input
            type="search"
            class="timer__form__projects"
            value="{{ active_task }}"
          >
        </div>
        <input x-model="activeComment" type="text" placeholder="Working on Issue" />
      </form>
    {% endif %}
    <form method="POST" action="">
      {% csrf_token %}
      <ul class="timer__actions">
        {% for project in projects %}
          <li>
            <input type="submit" name="project" value="{{ project.project }}" />
          </li>
        {% empty %}
          <p>Let's <a href="{% url 'settings' %}">set some projects?</a></p>
        {% endfor %}
      </ul>
    </form>
  </div>
</section>
{% endblock content %}
