<section
  class="timer"
  x-cloak
  x-data="{
    projects: [],
    activeProject: null,
    activeTask: null,
    activeComment: null,
    activeTimer: null,
    timerDuration: null,
    timerPeriod: null,
    getTime() { return (new Date()).toLocaleTimeString() },
    startTracking() {
      this.timerPeriod = this.getTime();
      this.activeTimer = setInterval(() => {
        this.timerDuration += 1;
      }, 1000);
    },
    stopTracking() {
      this.timerPeriod = this.timerPeriod + ' ' + this.getTime();
      clearInterval(this.activeTimer);
      this.activeTimer = null;
      const data = {
        active_task: this.activeTask,
        active_comment: this.activeComment,
        duration: this.timerDuration,
        period: this.timerPeriod,
      }
      this.timerDuration = null;
      this.timerPeriod = null;
      // don't care about end result
      fetch('/api/record', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {'Content-Type': 'application/json'}
      });
    },
    currentSeconds: (duration) => {
      let seconds = parseInt(duration % 60, 10);
      return seconds < 10 ? '0' + seconds : seconds;
    },
    secondsToTime: (duration) => {
      let minutes = parseInt((duration / 60) % 60, 10);
      let hours = parseInt((duration / 3600) % 24, 10);

      hours = hours < 10 ? '0' + hours : hours;
      minutes = minutes < 10 ? '0' + minutes : minutes;

      return hours + ':' + minutes;
    }
  }"
  x-init="projects = await (await fetch('/api/projects')).json()"
  x-show="activeTab === 'timer'"
>
  <h2 class="timer__title" x-text="activeProject ? activeProject.name : '👽 HOLY COW 🐄'"></h2>
  <div x-show="!activeTimer">
    <img src="{{ url_for('static', filename='emergency.gif') }}" alt="Animated GIF to illustrate emergency situation">
  </div>
  <template x-if="activeTimer">
    <div class="timer__time">
      <div class="timer__clock">
        <p x-text="secondsToTime(timerDuration)"></p>
        <p class="seconds" x-text="currentSeconds(timerDuration)"></p>
      </div>
      <button class="close" @click="activeProject = null; activeTask: null; stopTracking()">✕</button>
    </div>
  </template>
  <div>
    <template x-if="activeProject">
      <form
        class="timer__form"
        x-data="{
          open: false,
          searchInput: null,
          tasks: []
        }"
        x-init="searchInput = activeTask.key + ': ' + activeTask.summary"
        @start-tracking.window="
          searchInput = activeTask.key + ': ' + activeTask.summary;
          activeComment = null;"
      >
        <div class="search">
          <ul x-show="open">
            <template x-for="task in tasks" :key="task.id">
              <li>
                <button
                  type="button"
                  @click="activeTask = task; searchInput = task.key + ': ' + task.summary;"
                  x-text="task.key + ': ' + task.summary;"
                ></button>
              </li>
            </template>
          </ul>
          <input type="hidden" :value="activeTask.key">
          <input
            type="search"
            class="timer__form__projects"
            x-model="searchInput"
            @click="open = true"
            @click.outside="open = false"
            @input.debounce.200ms="tasks = await (await fetch('/api/tasks/' + activeProject.key + '?q=' + searchInput)).json()"
          >
        </div>
        <input x-model="activeComment" type="text" placeholder="Working on Issue" />
      </form>
    </template>
    <ul class="timer__actions">
      <template x-for="project in projects">
        <li>
          <button
            @click="
              activeProject = project;
              activeTask = project.defaultTask;
              if (activeTimer) {
                stopTracking();
              }
              startTracking();
              $dispatch('start-tracking');"
            x-text="project.key"
          ></button>
        </li>
      </template>
    </ul>
  </div>
</section>
